/apps/person/__pycache__/*
/apps/person/migrations/*
__pycache__/
*.pyc
/apps/classes/__pycache__/*
/apps/classes/migrations/*
*.env
/apps/student/__pycache__/*
/apps/student/migrations/*
/apps/teacher/__pycache__/*
/apps/teacher/migrations/*
*.vscode
/apps/registrationcart/__pycache__/*
/apps/registrationcart/migrations/*
/apps/registration/__pycache__/*
/apps/registration/migrations/*
/apps/classroom/__pycache__/*
/apps/classroom/migrations/*