/apps/person/__pycache__/*
/apps/person/migrations/*
__pycache__/
*.pyc
/apps/classes/__pycache__/*
/apps/classes/migrations/*
*.env
/apps/student/__pycache__/*
/apps/student/migrations/*
/apps/teacher/__pycache__/*
/apps/teacher/migrations/*
*.vscode
/apps/disciplines/__pycache__/*
/apps/disciplines/migrations/*
/apps/bulletins/__pycache__/*
/apps/bulletins/migrations/*

